PORT=3000
NODE_ENV=development
DB_ROOT_PASSWORD=root
DB_HOST=mysql_db
DB_PORT=3306
DB_NAME=db_ansur
DB_USER=javier
DB_PASSWORD=mi_clave_de_seguridad
DB_SSL=false
JWT_SECRET=mi_clave_de_seguridad

CLOUDINARY_CLOUD_NAME=nombre_de_tu_cuenta_cloudinary
CLOUDINARY_API_KEY=key_de_api_cloudinary
CLOUDINARY_API_SECRET=clave_de_seguridad_cloudinary